/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* OTR Font */
@font-face {
    font-family: 'OTR';
    src: url('../src/fonts/otr/otrtypegx-webfont.woff2') format('woff2'),
        url('../src/fonts/otr/otrtypegx-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Variables */
:root {
    --main: #68F8F8;
    --dark: #101410;
    --code-pink: #b45ea4;
    --code-green: #78bb65;
    --code-yellow: #e7ce56;
    --code-comment: rgba(255, 255, 255, 0.4);
}

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}