/* HEADER SECTION */
header {
    position: sticky;
    top: 0;
    z-index: 100;

    background: #000;
}

header a.logo {
    font-family: "OTR", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

header ul li {
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-bottom: 4px solid transparent;
    transition: all 250ms;
}

header ul li:hover {
    border-bottom: 4px solid var(--main);
}

header ul li:hover a {
    color: var(--main);
}

/* OCCUPATION SECTION */
section#occupation .occupation-avatar {
    position: relative;
    z-index: 1;
    height: 280px;
    width: 280px;
    margin-bottom: 1rem;
}

section#occupation .occupation-avatar::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-135px, -145px);
    z-index: -1;

    display: block;
    height: 280px;
    width: 280px;

    background: var(--main);
    border-radius: 50%;

    content: "";
}

section#occupation img {
    transform: translate(-5px, 5px);
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

section#occupation h1 {
    position: relative;
    z-index: 1;

    display: inline-block;
    margin-bottom: 1rem;

    text-align: center;
    font-size: 4rem;
}

section#occupation h1::before {
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    display: block;
    height: 1rem;
    width: 100%;

    background: var(--main);

    content: "";
}

/* ABOUT SECTION */
section#about h2 {
    align-self: flex-start;
    padding-left: 5rem;
}

section#about h2::before {
    left: 0;
}

section#about p {
    line-height: 2;
    font-size: 16px;
}

section#about p span {
    text-decoration: underline;
    font-weight: 500;
    color: var(--main);
}

section#about ul {
    padding-left: 2rem;
}

section#about ul li {
    line-height: 2;
    list-style: circle;
}

section#about ul li a {
    color: var(--main);
}
